*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    background-color: rgb(122, 221, 188);
    padding-inline: 300px;
    padding-block: 100px;
}
.first-div{
    padding-inline: 60px;
    background-color: rgba(246, 243, 243, 0.941);
    border-radius: 10px;
    padding-top: 40px;
}
.first-span{
  display: block;  
}
table{
    padding: 50px;
}
.first-col{
    padding-inline: 20px;
}
.first-input{
    border-radius: 10px;
    width: 100%;
    padding-block: 6px;
}
.second-col{
    padding-inline: 20px;
}
.second-input{
    width: 100%;
    border-radius: 10px;
    padding-block: 6px;
}
.last-row{
    
}
.m-span{
    display: block;
}
.second-last{
    width: 100%;
    height: 80px;
    border-radius: 10px;

}
.third-col{
    padding-inline: 20px;
}
.s{
    height:30px ;
    background-color: green;
    border-radius: 10px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 20px;
}
.sub{
    background-color: blue;
}